* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	background: #000 url('img/marvel-background.png');
	background-size: cover;
	height: 100vh;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1100px;
	margin: auto;
	padding: 0 20px;
}

.btn {
	display: inline-block;
	color: #fff;
	background-color: #3fb573;
	font-size: 1em;
	text-align: center;
	padding: 10px 15px;
	border: 0;
	margin: 10px 10px;
}

header {
	height: 200px;
}

header img {
	width: 200px;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.loading {
	color: #fff;
	text-align: center;
}
.contents {
	margin: auto;
	width: 80%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.card {
	margin: 5px;
	width: 250px;
	height: 320px;
}

.card-img {
	width: 200px;
	height: 250px;
}
.card-img-comic {
	width: 250px;
	height: 300px;
}

.card-text {
	font-weight: bold;
	text-align: center;
}
.containerInput {
	text-align: center;
}

input {
	width: 40%;
}

@media (max-width: 800px) {
	.contents {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 500px) {
	.contents {
		grid-template-columns: 1fr;
	}
}
